@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet.css">
    <title>Products Page</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>
        <h1>Browse all Products</h1>
        <form>
            <ul>
                <li><b>Item 1</b> | Select Quantity <input type="number" name="quantity" min="1" max="10"></li>
                <li><b>Item 2</b> | Select Quantity <input type="number" name="quantity" min="1" max="10"></li>
            </ul>
        </form>
    </div>
</body>
</html>