@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet.css">
    <title>Products Page</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="~/Views/Home/Index.cshtml">Home</a></li>
            <li><a href="~/Home/About.cshtml">About</a></li>
            <li><a href="~/Views/Home/Inventory.cshtml">Inventory</a></li>
            <li><a href="~/Views/Home/Login.cshtml">Login</a></li>
            <li><a href="~/Views/Home/ShoppingCart.cshtml">Shopping Cart</a></li>
        </ul>
        <h1>Browse all Products</h1>
        <form>
            LIST OF ITEMS GOES HERE
        </form>
    </div>
</body>
</html>